---
---

@import "{{ site.theme }}";
header { display: none; }
footer { display: none; }
section { width: unset; }
table { width: unset; }
h1 { text-align: center; }
h2 {
  display: inline-block;
  border-bottom: 1px solid #d4d4d4;
  border-image: linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5;
}
